spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/devfortune_dev

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    com.devfortune.backend: DEBUG
